Repository rte-france/or-tools, pull requests merged in 2023-04, with the labels that each got.

#89 Implement SetHint for XPRESS
  examples/java/IntegerProgramming.java
  examples/python/integer_programming.py
  ortools/linear_solver/unittests/xpress_interface.cc
  ortools/linear_solver/xpress_interface.cc
  ortools/xpress/environment.cc
  ortools/xpress/environment.h
  ortools/xpress/parse_header_xpress.py
Labels: enhancement, xpress, PR: waiting for review

#51 Fix typo '&&' instead of '&'
  ortools/linear_solver/sirius_interface.cc
  ortools/linear_solver/xpress_interface.cc
Labels: xpress, sirius, PR: waiting for review

#88 Raise exception on MPS write error
  ortools/linear_solver/MPSWriteError.h
  ortools/linear_solver/linear_solver.h
  ortools/linear_solver/sirius_interface.cc
  ortools/linear_solver/xpress_interface.cc
Labels: enhancement, xpress, sirius

#86 XPRESS : generate less logs
  ortools/linear_solver/xpress_interface.cc
Labels: enhancement, xpress, PR: waiting for review
